.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	height: 64px;
	box-sizing: border-box;
	background-color: var(--background-primary);
	border-bottom: 1px solid var(--border-color);
}
.left,
.right {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
}
.profileButton {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: var(--brand-green);
	color: var(--text-on-brand);
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}
